.nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}
.nav a{
    text-decoration: none;
}
.slide_title{
    text-align: center;
}
.slide_info{
    display: flex;
    align-items: center;
}
.slide_img img{
    width: ;
}