.nav{
    display: flex;
    justify-content: space-between;
    padding: 43px 147px;
}
.nav a{
    text-decoration: none;
}
.slides{
    padding: 20px 130px;
}
.slide_title{
    text-align: center;
}
.slide_info{
    position: relative;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    align-items: center;
    justify-content: center;
    flex: 1fr 2fr;
    height: 70vh;
}
.slide_summary{
    padding: 30px;
    width: 45%;
    margin-top: 40px;
}
.slide_img{
    /* height: 50vh; */
    padding-left: 50px;
}
.slide_img img{
    /* width: 150px; */
    position: absolute;
}
.img1{
    /* width: 80px; */
    right: 190px;
    top: 0px;
    z-index: 2;
}
.img2{
    /* width: 130px; */
    right: 0;
    top: 120px;
    z-index: 1;
}
.img3{
    /* width: 150px; */
    top: 0px;
    right: 300px;
}