body{
    font-family: 'Montserrat',sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Nav Bar */
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px 0px 80px;
}
.nav a{
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
}
.nav_mob a{
    text-decoration: none;
    color: #000;
}
.nav a:hover{
    font-weight: bolder;
    transition: 1s;
}
.nav_mob a:hover{
    font-weight: bolder;
    transition: 1s;
}
#logo{
    font-size: 2.25rem;
}
#mob_logo{
    font-size: 1.8rem;
}
.nav_mob{
    display: none;
}
/* Responsiveness */
@media screen and (max-width: 768px) {
    .nav {
        padding: 10px 80px 0 80px;
    }
}
@media screen and (max-width: 596px) {
    .nav{
        padding: 10px 60px 0 60px;
    }
    .nav a{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 463px) {
    .nav{
        display: none;
    }
    .nav_mob{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        padding-top: 10px;
    }
    .desk_nav{
        display: none;
        width: 35%;
        flex-direction: column;
        padding: 10px 0;
        text-align: center;
        position: fixed;
        top: 0;
        right: 0;
        background: #fff;
        z-index: 5;
        position: fixed;
        animation: fadeIn 2s;
        box-shadow: -8px 9px 14px -3px rgba(0, 0, 0, 0.78);
            -webkit-box-shadow: -8px 9px 14px -3px rgba(0, 0, 0, 0.78);
            -moz-box-shadow: -8px 9px 14px -3px rgba(0, 0, 0, 0.78);
    }
    .desk_nav a {
        padding: 10px;
        cursor: pointer;
    }
    .hamburger_close{
        font-size: 0.75rem;
    }
    .hamburger{
        background: none;
        border: none;
        cursor: pointer;
    }
    #close_hamburger{
        border: none;
        background: none;
    }
}

/* SLide Section */
.slides{
    padding: 0 80px;
    overflow: hidden;
}
.slide_title{
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.33em;
}
.slide_info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.slide_summary{
    padding-right: 10px;
}
.slide_img{
    column-count: 2;
    column-gap: 10px;
}
.slide_img img{
    max-width: 100%;
    display: block;
}
figure{
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
}
figure > img{
    grid-row: 1 / -1;
    grid-column: 1;
}
/* 943 */
@media screen and (max-width: 768px) {
    .slides{
        padding: 0 80px;
    }
    /* .slide_img {
        column-count: 2;
    } */
    .slide_info {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }
    .slide_summary {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .slide_title {
        font-size: 2rem;
        letter-spacing: 0.2em;
        padding-bottom: 5px;
    }
}
@media screen and (max-width: 596px) {
    .slides{
        padding: 0 60px;
    }
    .slide_img {
        column-count: 2;
    }
}
@media screen and (max-width: 463px) {
    .slides{
        padding: 0 10px;
    }
}

/* Contact Us Pane */
.contact{
    padding: 10px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact_label{
    font-weight: bolder;
}
.catalog-btn{
    display: flex;
    align-items: center;
    background-color: #FEC2C2;
    border: none;
    padding: 0 15px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}
.catalog-btn:hover{
    box-shadow: 11px -8px 0px -4px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 11px -8px 0px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 11px -8px 0px -4px rgba(0, 0, 0, 1);
    transition: 1s;
}
.catalog-btn p{
    font-weight: bolder;
    padding-right: 3px;
}
@media screen and (max-width: 768px) {
    .contact{
        padding: 0 80px;
    }
}
@media screen and (max-width: 596px) {
    .contact{
        padding: 0 60px;
    }
}
@media screen and (max-width: 463px) {
    .contact{
        padding: 0 10px;
    }
}

/* Footer */
footer{
    background: #E9E4E4;
    color: #989898;
    padding: 28px 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer_pane h2{
    padding-bottom: 10px;
}
.footer_pane p{
    padding-bottom: 5px;
}
.help{
    padding-right: 30px;
}
.about{
    padding-left: 30px;
}
@media screen and (max-width: 768px) {
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 28px 80px;
    }
    .help {
        padding-right: 0;
    }

    .about {
        padding-left: 0;
    }
}
@media screen and (max-width: 596px) {
    footer{
        grid-template-columns: 1fr;
        padding: 10px 60px;
    }
}
@media screen and (max-width: 463px) {
    footer{
        padding: 10px 10px;
    }
}

/* Store page */
.store_section{
    padding-bottom: 25px;
}
.items{
    padding: 0px 80px;
    column-count: 3;
    column-gap: 20px;
}
.img_class{
    max-width: 100%;
    /* display: block; */
    border-radius: 15px 15px 0 0;
}
@media screen and (max-width: 768px) {
    .items{
        padding: 0 80px;
    }
    .items{
        column-count: 3;
    }
}
@media screen and (max-width: 596px) {
    .items{
        padding: 0 60px;
    }
}

@media screen and (max-width: 436px) {
    .items{
        padding: 0 10px;
    }
    .items{
        column-count: 2;
    }
}
#shoes{
    display: none;
}
#belts{
    display: none;
}
.item_contact button{
    width: 90%;
    padding: 10px 0;
    border: none;
    background: #FEC2C2;
    cursor: pointer;
    border-radius: 5px;
}
.item_contact button:hover{
    background: #989898;
}
.good{
    box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0.75);
    background: #fff;
    border-radius: 15px;
}
/* Cart btn */
.cartbtn{
    margin: auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
    margin-top: 5px;
    cursor: pointer;
}
.carticon{
    width: 20px;
}

/* Product pop-up */
.store_cv{
    /* Class name for the body tag */
    position: relative;
}
.product_page{
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    overflow-x: scroll;
    background-color: rgb(255, 255, 255);
    background-color: rgba(159, 173, 179, 0.9);
    position: fixed;
}
.product_card{
    /* original width */
    width: 25%;
    margin: 0 auto;
    background: #fff;
    border-radius: 5px;
    position: relative;
    top: 15vh;
}
@media screen and (max-width: 875px) {
    .product_card{
        width: 35%;
    }
}
@media screen and (max-width: 680px) {
    .product_card {
        width: 45%;
    }
}
@media screen and (max-width: 530px) {
    .product_card {
        width: 55%;
    }
}
@media screen and (max-width: 420px) {
    .product_card {
        width: 70%;
    }
}

.img_class{
    width: 100%;
    /* border-radius: 5px 5px 0 0; */
}
.product_info{
    padding: 10px;
    text-align: center;
}
.contact_row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.close_product_card{
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;
    color: #E9E4E4;
}
#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    /* justify-content: space-between; */
    width: 40%;
    margin: auto;
}
.btn{
    margin: 5px 5px;
    border: none;
    /* padding: 5px; */
    padding: 10px 25px;
    border-radius: 5px;
    background:#989898;
    color: #E9E4E4;
    cursor: pointer;
}
.btn:hover{
    color: #000;
    background: #E9E4E4;
    font-weight: bolder;
    font-size: 14px;
}
@media screen and (max-width: 1300px) {
    #buttons{
        width: 60%;
    }
}
@media screen and (max-width: 930px) {
    .btn{
        padding: 10px 15px;
    }
}
@media screen and (max-width: 676px) {
    #buttons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 354px) {
    .btn{
        padding: 5px 10px;
    }
}
@media screen and (max-width: 300px) {
    .btn{
        padding: 5px 5px;
    }
}

/* Product pop up carousel */

/* About page */
.about-us{
    padding: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about-us-title{
    position: relative;
}
#border-up{
    padding-top: 5px;
    border-top: 3px solid orange;
    /* position: absolute;
    left: 50%; */
    width: 10%;
}
@media screen and (max-width: 520px) {
    .about-us{
        grid-template-columns: 1fr;
    }
}
main{
    position: relative;
}
.why-us{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    padding: 100px 0;
    background: rgb(207, 205, 205);
    /* position: relative; */
}
.lexi-abt-img{
    position: absolute;
    top: 180px;
    left: 200px;
}
@media screen and (max-width: 978px) {
    .lexi-abt-img {
        left: 120px;
    }
}
@media screen and (max-width: 820px) {
    .lexi-abt-img {
        left: 80px;
    }
}

.why-us-txt{
    width: 50%;
}
@media screen and (max-width: 645px) {
    .why-us {
        grid-template-columns: 1fr;
        padding: 30px 0;
    }
    .why-us-txt{
        width: auto;
        margin: auto;
        padding: 0 60px;
    }
    main{
        position: unset;
    }
    .why-us-img{
        padding: 0 60px;
    }
    .lexi-abt-img {
        position: unset;
        width: 50%;
        margin: auto;
    }
}
@media screen and (max-width: 463px) {
    .about-us{
        padding: 60px 5px;
    }
    .about-us-title{
        padding: 0 5px;
    }
    .about-us-text{
        padding: 0 5px;
    }
    .why-us{
        padding: 30px 5px;
    }
    .why-us-txt{
        padding: 0 5px;
    }
    .why-us-img {
        padding: 0 5px;
    }
}

/* Produt page */
.product-pg-info{
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 30px auto;
}
.product-detail{
    padding-left: 40px;
}
@media screen and (max-width: 1220px) {
    .product-pg-info{
        /* width: 90%; */
    }
}