body{
    font-family: 'Montserrat',sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Nav Bar */
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}
/* .desk_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 130px;
} */
.nav a{
    text-decoration: none;
        color: #000;
}
.nav_mob a{
    text-decoration: none;
    color: #000;
}
.nav a:hover{
    font-weight: bolder;
}
.nav_mob a:hover{
    font-weight: bolder;
}
.logo{
    font-size: 2.25rem;
}
.nav_mob{
    display: none;
}
/* Responsiveness */
@media screen and (max-width: 463px) {
    .nav{
        display: none;
    }
    .nav_mob{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    .desk_nav{
        /* display: flex; */
        display: none;
        width: 35%;
        flex-direction: column;
        padding: 10px 0;
        text-align: center;
        position: fixed;
        top: 0;
        right: 0;
        background: #fff;
        z-index: 5;
        position: fixed;
        animation: fadeIn 2s;
        box-shadow: -8px 9px 14px -3px rgba(0, 0, 0, 0.78);
            -webkit-box-shadow: -8px 9px 14px -3px rgba(0, 0, 0, 0.78);
            -moz-box-shadow: -8px 9px 14px -3px rgba(0, 0, 0, 0.78);
    }
    .desk_nav a {
        padding: 10px;
    }
    .hamburger_close{
        font-size: 0.75rem;
    }
    /* .hamburger_open {
        font-size: 2.75rem;
    } */
}
/* SLide Section */
.slides{
    padding: 10px 130px;
    /* Carousel */
    overflow: hidden;
    /* overflow-y: hidden; */
}
.slide_title{
    font-size: 5rem;
    text-align: center;
    letter-spacing: 0.73em;
    padding-bottom: 20px;
}
.slide_info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 70vh;
    padding-top: 30px;
}
.slide_summary{
    padding: 30px;
    width: 40%;
}
.slide_img{
    position: relative;
}
.slide_img img{
    position: absolute;
}
.img1{
    width: 170px;
    right: 120px;
    top: -230px;
    z-index: 2;
}
.img2{
    width: 220px;
    right: 0;
    top: -120px;
    z-index: 1;
}
.img3{
    width: 220px;
    top: -10px;
    right: 205px;
}
/* .slides-container{
    overflow: scroll;
    display: flex;scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.slides-container::-webkit-scrollbar {
    width: 0;
    height: 0;
} */
.slide{
    width: 100%;
    height: 100%;
    /* flex: 1 0 100%; */
}
@media screen and (max-width: 943px) {
    .slide_info {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
    }
    .slide_summary {
        width: 100%;
    }
    .slide_img img{
        position: relative;
    }
    .img1,.img2,.img3{
        top: 0;
        right: 0;
        width: 30%;
    }
    .slide_info {
        height: auto;
        padding-top: 5px;
    }
}
@media screen and (max-width: 768px) {
    .slides{
        padding: 0 40px;
    }
    .slide_title {
        font-size: 3rem;
        letter-spacing: 0.3em;
        padding-bottom: 5px;
    }
}

/* Contact Us Pane */
.contact{
    padding: 0 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact_label{
    font-weight: bolder;
}
.catalog_-btn{
    display: flex;
    align-items: center;
    background-color: #FEC2C2;
    border: none;
    padding: 0 15px;
    box-shadow: 11px -8px 0px -4px rgba(0, 0, 0, 1);
        -webkit-box-shadow: 11px -8px 0px -4px rgba(0, 0, 0, 1);
        -moz-box-shadow: 11px -8px 0px -4px rgba(0, 0, 0, 1);
}
.catalog_-btn p{
    font-weight: bolder;
    padding-right: 3px;
}
@media screen and (max-width: 768px) {
    .contact{
        padding: 0 40px;
    }
}

/* Footer */
footer{
    background: #E9E4E4;
    color: #989898;
    padding: 48px 320px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-content: space-between; */
}
.footer_pane h2{
    padding-bottom: 10px;
}
.footer_pane p{
    padding-bottom: 5px;
}
@media screen and (max-width: 1480px) {
    footer{
        padding: 28px 160px;
    }
}
@media screen and (max-width: 768px) {
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 28px 100px;
    }
}
@media screen and (max-width: 524px) {
    footer{
        grid-template-columns: 1fr;
        padding: 10px 15px;
    }
}